sudo: true
dist: trusty
cache: false
env:
- URL=https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
before_install:
- openssl aes-256-cbc -K $encrypted_65674265f95b_key -iv $encrypted_65674265f95b_iv
  -in assets/server.key.enc -out assets/server.key -d
- export SFDX_AUTOUPDATE_DISABLE=true
- export SFDX_USE_GENERIC_UNIX_KEYCHAIN=true
- export SFDX_DOMAIN_RETRY=300
- wget -qO- $URL | tar xJf -
- "./sfdx/install"
- export PATH=./sfdx/$(pwd):$PATH
- sfdx update
- sfdx force:auth:jwt:grant --clientid $CONSUMER_KEY --jwtkeyfile assets/server.key
  --username $USERNAME --setdefaultdevhubusername -a HubOrg
- mv force-app/main/test/* force-app/main/default/classes
before_script:
- sfdx force:org:create -v HubOrg -s -f config/project-scratch-def.json -a ciorg
- sfdx force:source:push -u ciorg
- sfdx force:mdapi:deploy -d config/remoteSiteEndpoint -w 1
script:
- sfdx force:apex:test:run -u ciorg -c -r human
- echo "IBMDiscoveryV1FTests.runAllTests('$DISCOVERY_USERNAME', '$DISCOVERY_PASSWORD');" > DiscoveryTestRunner.apex
- $(sfdx force:apex:execute -f DiscoveryTestRunner.apex --json | jq -e -r '.result.compiled == true and .result.success == true') && echo “Success” || exit 1
- rm DiscoveryTestRunner.apex
- echo "IBMConversationV1FTests.runAllTests('$CONVERSATION_USERNAME', '$CONVERSATION_PASSWORD');" > ConversationTestRunner.apex
- $(sfdx force:apex:execute -f ConversationTestRunner.apex --json | jq -e -r '.result.compiled == true and .result.success == true') && echo “Success” || exit 1
- rm ConversationTestRunner.apex
- echo "IBMPersonalityInsightsV3FTest.runAllTests('$PERSONALITY_INSIGHTS_USERNAME', '$PERSONALITY_INSIGHTS_PASSWORD');" > PersonalityInsightsTestRunner.apex
- $(sfdx force:apex:execute -f PersonalityInsightsTestRunner.apex --json | jq -e -r '.result.compiled == true and .result.success == true') && echo “Success” || exit 1
- rm PersonalityInsightsTestRunner.apex
- echo "IBMToneAnalyzerV3FTest.runAllTests('$TONE_ANALYZER_USERNAME', '$TONE_ANALYZER_PASSWORD');" > ToneAnalyzerTestRunner.apex
- $(sfdx force:apex:execute -f ToneAnalyzerTestRunner.apex --json | jq -e -r '.result.compiled == true and .result.success == true') && echo “Success” || exit 1
- rm ToneAnalyzerTestRunner.apex
- echo "IBMNaturalLanguageUnderstandingV1FTest.runAllTests('$NLU_USERNAME', '$NLU_PASSWORD');" > NLUTestRunner.apex
- $(sfdx force:apex:execute -f NLUTestRunner.apex --json | jq -e -r '.result.compiled == true and .result.success == true') && echo “Success” || exit 1
- rm NLUTestRunner.apex
- echo "IBMNaturalLanguageClassifierV1FTests.runAllTests('$NLC_USERNAME', '$NLC_PASSWORD');" > NLCTestRunner.apex
- $(sfdx force:apex:execute -f NLCTestRunner.apex --json | jq -e -r '.result.compiled == true and .result.success == true') && echo “Success” || exit 1
- rm NLCTestRunner.apex
- echo "IBMTextToSpeechV1FTest.runAllTests('$TEXT_TO_SPEECH_USERNAME', '$TEXT_TO_SPEECH_PASSWORD');" > TextToSpeechTestRunner.apex
- $(sfdx force:apex:execute -f TextToSpeechTestRunner.apex --json | jq -e -r '.result.compiled == true and .result.success == true') && echo “Success” || exit 1
- rm TextToSpeechTestRunner.apex
- mv install/package.xml force-app/main/default
- "./install/deploy.sh"
after_script:
- sfdx force:org:delete -u ciorg -p